.breadcrumb {background: rgba(255, 255, 255, 0); border: 0px solid rgba(245, 245, 245, 1); border-radius: 4px; display: block;padding:0px}
.breadcrumb li {font-size: 11px; padding:0px}
.breadcrumb a {color: rgba(66, 139, 202, 1);padding:0px}
.breadcrumb a:hover {color: rgba(42, 100, 150, 1);padding:0px;}
.breadcrumb>.active {color: rgba(153, 153, 153, 1);padding:0px}
.breadcrumb>li+li:before {color: rgba(204, 204, 204, 1); content: "\003E\003E\00a0"; padding:0px}

.alert-warning {
    background-color: #F9F0C0;
    border-color:#DEBB80;
}