

  
  
.my-container11 {
    position: relative;
    overflow: hidden;
}
.my-container11 h1 {
    padding: 200px;
    position: relative;
    z-index: 2;
} 
.my-container11 img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
}